@tailwind base;
@tailwind components;
@tailwind utilities;

input[type ="text"], input[type="password"], input[type="email"]{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
};
button{
@apply bg-gray-300;
;
}
button.primary{
    background-color: '#F5385D';
    @apply bg-primary p-2 w-full text-white rounded-2xl;
};
.small_text{
    font-size: 20%;
}
.socials_follow{
    display: flex;
    align-items: center;
}
.pretty_font{
    font-family:optima,sans-serif;
}
.subscription_form{
    text-align: center;
    flex-wrap: column wrap-reverse;
}
.small_img{
    max-width: 100px;
    max-height: 100px;
    background-color: transparent;
}
.copyright_bar{
    background-color:cornflowerblue;
    font-display: white;
    display: flex;
    justify-content: center;
}
.copyright_container{
    width:100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.header{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59 130 246);
    font-display: white;
}